.profile {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px black ;
}

.Profile {
    grid-area: p;
    display: grid;
    grid-template-rows: inherit;
    background-color: #5da8d6;
    gap: 15px;
  }